{# templates/depense/voir.html.twig #}
<style>
/* Style for the expense details page */
h1 {
    font-size: 18px;
    color: #333;
}

table {
border-collapse: collapse;
margin-left: 0;
}



/*th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}*/

th {
    background-color: #00695c; /* Dark green color */
    color: white;
    font-weight: bold;
}

td {
    background-color: #fff;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #2b3635;;
    border-radius: 5px;
    font-size: 18px;
}
table { width: auto; ; border-collapse: collapse; } table, th, td { border: 1px solid black; padding: 5px; text-align: center; } th, td { white-space: nowrap; }

</style>
<h1>Détails de la Dépense</h1>

<table>
    <tr>
        <th>Catégorie</th>
        <td>{{ depense.categorie }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ depense.description }}</td>
    </tr>
    <tr>
        <th>Montant</th>
        <td>{{ depense.montant }}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ depense.dateDepense ? depense.dateDepense|date('d-m-Y') : '' }}</td>
    </tr>
</table>

<a href="{{ path('depense_liste') }}">Retour à la liste des dépenses</a>
